<div class="container-fluid p-0">
  <div class="d-flex justify-content-center align-items-center" style="min-height:100vh; background: transparent;">
    <div class="text-center">
      <div id="embed-title" class="h4 mb-2"></div>
      <div id="embed-timer" class="display-1 fw-bold">00:00:00</div>
    </div>
  </div>
</div>

<script>
  window.EMBED_TIMER_ID = {{timerId}};
</script>
